/* define the globalbod or root variable */
:root{
    --primaryColor :#213555;
    --backgroundColor :#F5EFE7;
    --primaryAccentColor :#4F709C;
    --secondaryColor : #D8C4B6;
    --whiteColor:white;
    --blackColor:#222222;
    --primaryFont: 'Open Sans', sans-serif;
    --CursiveFont:'pacifico',cursive;
    --navbarHeight: 3.2rem;
}


a{
    text-decoration: none;
    color: var(--primaryColor);
}

a:hover{
    color: var(--primaryAccentColor);
}

/* Main CSS */
body{
    background-color: rgb(255, 255, 255);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin:0;
    padding-left: 30px;
    padding-right: 30px;
}

/* navigation */

.navigation{
    background-color: var(--whiteColor);
    color: black;
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 1px 3px gray;
    box-sizing: border-box;
}
/* .logo{
    display:flex;
    width: 12rem;
    align-items: center;
} */

.logoImage{
    /* position: relative;
    right: 30%;
    padding: 8px;*/
    height: 4rem;
    /* border: 3px solid paleturquoise;   
    animation: title 1s ease-out 0s infinite alternate-reverse;  */
    /* float:left; */
    margin: .5rem;
}

.text-1{
    display: none;
}

.toogle-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toogle-button .bars{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* @keyframes title{
    from{
        border-right-color:purple;
        border-bottom-color: purple;
    }
    to{
        border-right-color: #ff6527;
        border-bottom-color: #ff6527;
    }

    from{
        border-top-color: #ff6527;
        border-left-color: #ff652fa7;
    }
} */

/* 
.contactImage{
    position: relative;
    left: 150px;
    padding: 8px; 
} */

.navigation ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation ul li{
    list-style-type: none;
    /* display: inline-block;
    padding:10px 20px;
    margin-right: 1rem;
    position: relative;
    right: 200px; */
}



.navigation ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* position: relative; */
    padding: 1rem;
    display: block;
    margin-left:20px ;
}


/* a:before{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: black;
    transform: scale(0);
    transition: all 1s;
    transform-origin: left;
}

a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: all 1s;
    transform-origin: right;
} */

.navigation ul li a:hover::before,
.navigation ul li a:hover::after{
    /* color: var(--primaryAccentColor);
    transition: .3s; */
    transform: scaleX(1);
    /* border-bottom:1px solid #222222;
    border-top: 1px solid #222222; */
}

.Contact img{
    height: 3rem;
    position: relative;
    left: 230px;
    top: 3px;
    /* top:0px; */
}

.nav-one{
    position: relative;
    /* left:100px; */
    /* right: 0px; */
    /* top: 5px; */
    right: 4px;
}


.nav-q{
    /* position:absolute; */
    font-size: 9px;
    /* right: 60px; */
    border-top:1px solid #dfd8d8;
}

.nav-second{
    font-size: 9px;
    /* position: relative;
    bottom: 15px;
    right: 60px; */
    /* position: absolute;
    right: 4px;*/
    /* line-height: -10px; */
    /* margin-top: 2vh; */
    position: relative;
    bottom: 8px;
    border-bottom: 1px solid #dfd8d8;
}

/* banner section */

.banner{
    display: flex;
    height: 450px;
    width: 100%;
    background:linear-gradient(to right bottom, #bdfbc2, #b2fbd2, #abfae0, #aaf8ec,
     #aff5f4, #b1f3ed, #b3f0e6, #b5eee0, #bfe9c8, #d1e1b3, #e7d7a4, #fbcba2);
     filter: drop-shadow(0px 5px 3px #aaf8ec );
     margin-top: 3px;
    /* filter: drop-shadow(0px 3px 4px grey); */
    
}

.bannerLeft{
    position: relative;
    top:70px;
    left: 80px;
}

.bubble2{
    height: 100px;
    width: 100px;
    background: linear-gradient(to right bottom, #bdfbc2, #bdfbc2d0, #bdfbc2ae, #ecffec, #f3fff2);
    border-radius: 50%;
    position: relative;
    top: 300px;
    filter: drop-shadow(0px 3px 4px #bdfbc2);
    animation:bubble 4s ease-out .4s infinite alternate-reverse;
}


@keyframes bubble {
    0%{
        top: 320px;
    }
}


.bannerRight img{
    position: relative;
    left: 10%;
    top: 10%;
    height: 90%;
    width: 100%;
    filter: drop-shadow(-3px -2px 3px grey);
}

.greeting{
    color: #ff6527;
    font-family: var(--CursiveFont);
    font-size: 20px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #2e1d58;
   
}

.description{
    margin: 15px 0px;
    line-height: 2rem;
    font-size: 20px;
    font-weight: 100;
}



.showCVButton{
    background: #ff6527;
    color: white;
    padding: 10px 15px;
    filter: drop-shadow(5px 5px 3px #FF9671);
}

.showCVButton:hover{
    background: #833ab4;
    color: white;
    filter: drop-shadow(5px 5px 3px #833ab4);
}

/* line section */

.serviceText{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    color: #ff6527;
    position: relative;
    /* left :720px; */
    top: 35px;
    display: flex;
    justify-content: center;
}

.service{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    /* left: 695px; */
    top: 15px; 
    display: flex;
    justify-content: center;
    font-size: 30px;
}

/* skills section */

.skills{
    display:flex;
    justify-content: space-evenly;
    width: 80%;   
}


h2{
    font-family: 'Roboto', sans-serif;
}

.skills-a{
    padding: 40px;
    border: 0.2px solid #dfd8d8;
    display: flex;
    margin-left: 10px;
    border-right: 0px;
    border-left: 0px;
    box-shadow: 1px 9px 7px 1px rgba(0,0,0,0.3);
    transition: 0.4s;
    width: 18rem !important;
}

.skills-a span{
    height: 60px;
    width: 70px;
    background-color: #ff6527;
}

.rocket{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.skills-a:hover{
    box-shadow: 0 8px 16px rgb(0,0,0,0.5 );
    background-color: rgb(231, 224, 209);
    transform: scale(1.01);
    transition: transform 0.2s ease-in;
}

.skills ul li{
    list-style-type: square;
    position: relative;
    right: 18px;
    line-height: 30px;
    color: #213555c8;
}

/* banner 2 */


.banner2{
    display: flex;
    height: 500px;
    width: 100%;
    background: linear-gradient(to right bottom, #bafafa, #bbf5ff, #c2efff, #cce9ff, #d7e3ff, #d2e4ff, #cde5ff, #c8e6ff, #bbedfb, #b9f2ee, #c5f4dd, #dcf3cc);
    margin-top: 70px;
    box-shadow: 0px 3px 3px #c5f4dd,0px -2px 3px #c5f4dd;
}

.banner2-Image {
    position: relative;
    right: 100px;
    top: 100px;
    filter: drop-shadow(3px 3px 3px grey);
    z-index: 1;
}

.banner-text{
    position: relative;
    top: 50px;
    left: -50px;
}
.about{
    font-family: 'Roboto', sans-serif;
    color: #ff6527;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

.about3{
    color: #213555ab;
}

.Contents{
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 60px;
    
}

.Contents2{
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 65px;
    bottom: 20px;
}

.text{
   position: relative;
    bottom: 5px ;
}

.icone-tick{
    background-color: rgb(68, 205, 68);
    border-radius: 50%;
    color: white;
    padding: 0;
}

.unique{
    position: relative;
    right: 6px;
}

.hire-btn{
    background: #ff6527;
    color: white;
    padding: 15px 25px;
    filter: drop-shadow(5px 5px 3px #FF9671);
    border: 0;
    text-transform: uppercase;
    margin-top: 10px;
}

.hire-btn:hover{
    background: yellowgreen;
    color: white;
    filter: drop-shadow(5px 5px 3px yellowgreen);
}

.follow{
    position: relative;
    left: 50px;
    margin-right: 15px;
}

.facebook{
    background-color: #1877f2;
    padding:20px 15px 10px;
    border-radius: 50%;
    filter: drop-shadow(3px 2px 3px #1877f2);
}

.facebook i{
    font-size: 25px;
}

.twitter{
    background-color: #1c9ceb;
    padding:20px 15px 10px;
    border-radius: 50%;
    filter: drop-shadow(3px 2px 3px #1c9ceb);
}

.twitter i{
    font-size: 25px;
}

.instagram{
    background-image: linear-gradient(to right, #ff7142, #fd6351, #f7565f, #ee4c6c, #e24578);
    padding:20px 15px 10px;
    border-radius: 50%;
    filter: drop-shadow(3px 2px 3px #e24578);
}

.instagram i{
    font-size: 25px;
}


.tooltips{
    display: flex;
    justify-content: space-evenly;
}

.tooltip {
    position:relative;
    height: 160px;
    width: 300px;
    padding:10px;
    background-color:#f9f9f9;
    /* border:solid 1px #a0c7ff; */
    border-radius:5px;
    margin-top: 100px;
    box-shadow: 1px 3px 7px 0px rgba(0,0,0,0.3);
}

.tooltip:hover{
    transform: scale(1.02);
}

.tooltip-icon{
    position: relative;
    top: 20px;
    height: 50px;
    width: 50px;
    background-color: #ff2744;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.tooltip-content{
    display: flex;
}

.tooltip-text{
    position: relative;
    left: 20px;
}

.year{
    color: #ff6527;
}

#text{
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: -10px;
}


#tailShadow {
    position:absolute;
    bottom:-10px;
    left:52.5%;
    width:0;height:0;
    border:solid 2px #fff;
    box-shadow:0 0 10px 1px #555;
}

#tail1 {
    position:absolute;
    bottom:-20px;
    left:50%;
    width:0;height:0;
    border-color:rgba(156, 155, 155, 0.564) transparent transparent transparent;
    border-width:10px;
    border-style:solid;
}

#tail2 {
    position:absolute;
    bottom:-18px;
    left:50%;
    width:0;height:0;
    border-color:#f9f9f9 transparent transparent transparent;
    border-width:10px;
    border-style:solid;
}

.tooltips-line{
    display: flex;
    justify-content: space-around;
}



.tooltip-line{
    width: 80%;
    height: 1px;
    background-color: #ff6527;
    /* transform: translate(6px, -7px); */
    margin-top: 30px;
}
 .fa-dot-circle{
    position: relative;
    left: 55px;
    bottom: 7px;
    display: flex;
    justify-content: space-around;
}

.circle1{
    position: relative;
    left: 55px;
    bottom: 7px;
}

.circle2{
    position: relative;
    left: 10px;
    bottom: 7px;
}

.circle3{
    position: relative;
    left: -35px;
    bottom: 7px;
}

.skills-percentage{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.progress-con{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.progress-con .progress{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #f3713e67 linear-gradient(to right,transparent 50%,var(--clr) 0);
}  

.progress-con .progress h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
    z-index: 1;
    font-weight: 500;
}

.progress-con .progress h3 span{
    font-size: 0.65em;
}

.progress-con .progress div{
    position: relative;
    top: 20px;
    width: 150px;
    right: 10px;
}

.progress-con .progress::before{
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.progress-con .progress::after{
    content: "";
    position: absolute;
    inset: 10px;
    background:white;
    border-radius: 50%;
}

.progress-con .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}


@media screen and (max-width: 480px){
    body{
        background-color: white;
        color: var(--primaryColor);
        font-family: var(--primaryFont);
        margin:0;
        padding:0;
    }
    
    /* navigation */
    
    .navigation{
        background-color: rgba(0, 0, 0, 0.825);
        color: white;
        /* height: 300px; */
        height:auto;
        flex-direction: column;
        align-items: flex-start;
        /* position: fixed; */
        /* top: 0; */
        /* z-index: 3;
        box-shadow: 0px 1px 3px gray;
        width: 100%; */
    }
    
    .logoImage{
        padding: 0;
        height: 2rem;
        display: none;
        /* display: none; */
        /* display: none; */
        /* border: 3px solid paleturquoise;   
        animation: title 1s ease-out 0s infinite alternate-reverse;  */
        /* float:left; */
    }

    .text-1{
        display: block;
        font-size: 20px;
        padding: 10px;
        font-family: 'roboto',sans-serif;
        margin: 5px;
        letter-spacing: 2px;
    }

    .toogle-button{
        display: flex;
    }


    .nav-links{
        display: none;
        width: 100%;
    }


    .navigation ul{
        width: 100%;
        flex-direction: column;
    }
    
    .navigation ul li{
        text-align: center;
        /* padding:10px 20px; */
        /* margin-right: 1rem; */
        /* position: relative;
        margin-left:-10px;
        left: -5px; */
    }

    .navigation ul li a{
        color: white;
        padding: .5rem 1rem;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .nav-links.active{
        display: flex;
    }
    
    
    .Contact{
        display: none;
    }
    
   .nav-one{
    display: none;
   }
    
    /* banner section */
    
    .banner{
        display: flex;
        flex-direction: column;
        height: 450px ;
        width: 100%;
        background:linear-gradient(to right bottom, #bafafa, #bbf5ff, #c2efff, #cce9ff, #d7e3ff, #d2e4ff, #cde5ff, #c8e6ff, #bbedfb, #b9f2ee, #c5f4dd, #dcf3cc);
        filter: drop-shadow(0px 2px 3px #aaf8ec );
        margin-top: 3px;
        position: relative;
        /* filter: drop-shadow(0px 3px 4px grey); */
        
    }
    
    .bannerLeft{
        position: absolute;
        top:70px;
        left: 30px;
        /* margin-top: rem; */
    }
    
    .bubble2{
        height: 20%;
        width: 20%;
        background:linear-gradient(to right bottom, #bdfbc2, #bdfbc2d0, #bdfbc2ae, #ecffec, #f3fff2);
        position: relative;
        top: 70%;
        left: 65%;
        z-index: -1;
        filter: drop-shadow(1px 3px 4px #bdfbc2);
        animation:bubble 4s ease-out .4s infinite alternate-reverse;
    }
    
    
    @keyframes bubble {
        0%{
            top: 75%;
        }
    }
    
    .bannerRight img{
        display: flex;
        justify-content: end;
        align-items: end;
        position: relative;
        top: 100%;
        left: 50%;
        z-index: -2;
        height: 100%;
        width: 50%;
        display: none;
        /* height: 20px; */
        /* width: 50vh;
        /* position: relative;
        bottom: 80px; */
        /* border-radius: 100%; */
        filter: drop-shadow(-3px -2px 3px grey);
    }
    
    .greeting{
        color: #ff6527;
        font-family: var(--CursiveFont);
        font-size: 20px;
    }
    
    .title{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: #2e1d58;
       
    }
    
    .description{
        margin: 15px 0px;
        line-height: 2rem;
        font-size: 15px;
        font-weight: 100;
    }
    
    
    
    .showCVButton{
        background: #ff6527;
        color: white;
        padding: 10px 15px;
        filter: drop-shadow(5px 5px 3px #FF9671);
    }
    
    .showCVButton:hover{
        background: #833ab4;
        color: white;
        filter: drop-shadow(5px 5px 3px #833ab4);
    }
    
    /* line section */
    
    .serviceText{
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
        color: #ff6527;
        position: relative;
        /* left :720px; */
        top: 35px;
        display: flex;
        justify-content: center;
    }
    
    .service{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        position: relative;
        /* left: 695px; */
        top: 15px; 
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    /* skills section */
    
    .skills{
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* flex:auto; */
        padding:20px;
        margin: 20px;
        position: relative;
        box-sizing: border-box;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
    }
    
    .skills-a{
        border: 0.2px solid #dfd8d8;
        box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.3) ;
        transition: 0.4s;
        margin-top: 20px;
        display: flex;
        flex-direction: column ;
        /* justify-content: center ; */
        width: 70% !important;

    }
    
    .skills-a span{
        height: 60px;
        width: 70px;
        background-color: #ff6527;
    }
    
    .rocket{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .language{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
    }
    
    .skills-a:hover{
        box-shadow: 0 8px 16px rgb(0,0,0,0.5 );
        background-color: rgb(231, 224, 209);
        transform: scale(1.01);
        transition: transform 0.2s ease-in;
    }
    
    .skills ul li{
        list-style-type: square;
        /* position: relative;
        right: px; */
        line-height: 30px;
        color: #213555c8;
        position: relative;
    }
    /* banner 2 */
    
    
    .banner2{
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 100%;
        background: linear-gradient(to right bottom, #bafafa, #bbf5ff, #c2efff, #cce9ff, #d7e3ff, #d2e4ff, #cde5ff, #c8e6ff, #bbedfb, #b9f2ee, #c5f4dd, #dcf3cc);
        margin-top: 70px;
        box-shadow: 0px 3px 3px #c5f4dd,0px -2px 3px #c5f4dd;
    }
    
    .banner2-Image {
        position: absolute;
        right: 100px;
        top: 100px;
        filter: drop-shadow(3px 3px 3px grey);
        z-index: 1;
        display: none;
    }
    
    .banner-text{
        position: relative;
        top: 2rem;
        left: 2px;
        padding: 20px;
    }
    .about{
        font-family: 'Roboto', sans-serif;
        color: #ff6527;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .about2{
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    
    .about3{
        color: #213555ab;
        font-size: 0.85rem;
    }
    
    .Contents{
        display: flex;
        justify-content: space-around;
        position: relative;
        /* right: 60px; */
        left: 0rem;
        font-size: 0.75rem;
    }
    
    .Contents2{
        display: flex;
        justify-content: space-around;
        position: relative;
        left: -0.25rem;
        bottom: 20px;
        font-size: 0.75rem;
        margin-top: 10px;
    }
    
    .text{
       position: relative;
        bottom: 5px ;
    }

    .content span{
        height: 15px;
        width: 15px;
    }
    
    .icone-tick{
        background-color: rgb(68, 205, 68);
        border-radius: 50%;
        color: white;
        padding: 0;
        font-size: 0.95rem;
        position: relative;
        bottom: 2px;
    }
    
    .unique{
        position: relative;
        right: 3px;
    }
    
    .hire-btn{
        background: #ff6527;
        color: white;
        padding: 15px 25px;
        filter: drop-shadow(5px 5px 3px #FF9671);
        border: 0;
        text-transform: uppercase;
        margin-top: 8px;
    }
    
    .hire-btn:hover{
        background: yellowgreen;
        color: white;
        filter: drop-shadow(5px 5px 3px yellowgreen);
    }
    
    .follow{
        display: flex;
        justify-content: center;
        position: relative;
        left:0px;
        margin-top: 20px;
    }

    .follow1{
        display: inline-block;
        height: 20px;
        width: 20px;
        position: relative;
        left: 80px;
    }
    
    .facebook{
        background-color: #1877f2;
        padding:10px 10px 10px 12px;
        border-radius: 50%;
        filter: drop-shadow(3px 2px 3px #1877f2);
    }
    
    .facebook i{
        font-size: 20px;
        bottom: 4px
    }
    
    .twitter{
        background-color: #1c9ceb;
        padding:10px 10px 10px 10px;
        border-radius: 50%;
        filter: drop-shadow(3px 2px 3px #1c9ceb);
    }
    
    .twitter i{
        font-size: 20px;
    }
    
    .instagram{
        background-image: linear-gradient(to right, #ff7142, #fd6351, #f7565f, #ee4c6c, #e24578);
        padding:10px 10px 10px 12px;
        border-radius: 50%;
        filter: drop-shadow(3px 2px 3px #e24578);
    }
    
    .instagram i{
        font-size: 20px;
    }
    
    
    .tooltips{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
  
    .tooltips-line{
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .progress-con{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
    .progress-con .progress{
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: #f3713e67 linear-gradient(to right,transparent 50%,var(--clr) 0);
        margin-top: 50px;
    }  
    
}

@media  (min-width:480px) and (max-width:768px){
    body{
        background-color: white;
        color: var(--primaryColor);
        font-family: var(--primaryFont);
        margin:0;
        padding:0;
    }
    
    /* navigation */
    
    .navigation{
        background-color: rgba(0, 0, 0, 0.729);
        color: white;
        height: var(--navbarHeight);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 3;
        box-shadow: 0px 1px 3px gray;
        width: 100%;
    }
    
    .logoImage{
        display: none;
        /* border: 3px solid paleturquoise;   
        animation: title 1s ease-out 0s infinite alternate-reverse;  */
        /* float:left; */
    }

    .menuItmes{
        display: flex;
    }
    
    .navigation ul li{
        list-style-type: none;
        display:inline-block;
        /* padding:10px 20px; */
        /* margin-right: 1rem; */
        position: relative;
        margin-left:-10px;
        left: -5px;
    }
    
    
    
    .navigation ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        padding: 8px;
        bottom: 0px;
        left:0px;
    }
    
    a:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: black;
        transform: scale(0);
        transition: all 1s;
        transform-origin: left;
    }
    
    a:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: black;
        transform: scaleX(0);
        transition: all 1s;
        transform-origin: right;
    }
    
    .navigation ul li a:hover::before,
    .navigation ul li a:hover::after{
        /* color: var(--primaryAccentColor);
        transition: .3s; */
        transform: scaleX(1);
        /* border-bottom:1px solid #222222;
        border-top: 1px solid #222222; */
    }
    
    .Contact{
        display: none;
    }
    
   .nav-one{
    display: none;
   }
    
    /* banner section */
    
    .banner{
        display: flex;
        flex-direction: column;
        height: 900px;
        width: 100%;
        background:linear-gradient(to right bottom, #bdfbc2, #b2fbd2, #abfae0, #aaf8ec,
         #aff5f4, #b1f3ed, #b3f0e6, #b5eee0, #bfe9c8, #d1e1b3, #e7d7a4, #fbcba2);
         filter: drop-shadow(0px 5px 3px #aaf8ec );
         margin-top: 3px;
         position: relative;
        /* filter: drop-shadow(0px 3px 4px grey); */
        
    }
    
    .bannerLeft{
        position: absolute;
        top:70px;
        left: 30px;
        /* margin-top: rem; */
    }
    
    .bubble2{
        height: 100px;
        width: 100px;
        background: linear-gradient(to right bottom, #bdfbc2, #bdfbc2d0, #bdfbc2ae, #ecffec, #f3fff2);
        border-radius: 50%;
        position: relative;
        top: 300px;
        filter: drop-shadow(0px 3px 4px #bdfbc2);
        animation:bubble 4s ease-out .4s infinite alternate-reverse;
        display: none;
    }
    
    
    .bannerRight{
        position: absolute;
        left: -10%;
        top: 55.5%;
        /* height: 20px; */
        /* width: 50vh; */
        border-radius: 100%;
        filter: drop-shadow(-3px -2px 3px grey);
    }
    
    .greeting{
        color: #ff6527;
        font-family: var(--CursiveFont);
        font-size: 20px;
    }
    
    .title{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: #2e1d58;
       
    }
    
    .description{
        margin: 15px 0px;
        line-height: 2rem;
        font-size: 15px;
        font-weight: 100;
    }
    
    
    
    .showCVButton{
        background: #ff6527;
        color: white;
        padding: 10px 15px;
        filter: drop-shadow(5px 5px 3px #FF9671);
    }
    
    .showCVButton:hover{
        background: #833ab4;
        color: white;
        filter: drop-shadow(5px 5px 3px #833ab4);
    }
    
    /* line section */
    
    .serviceText{
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
        color: #ff6527;
        position: relative;
        /* left :720px; */
        top: 35px;
        display: flex;
        justify-content: center;
    }
    
    .service{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        position: relative;
        /* left: 695px; */
        top: 15px; 
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    /* skills section */
    
    .skills{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 40px;   
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
    }
    
    .skills-a{
        padding: 30px;
        border: 0.2px solid #dfd8d8;
        margin-left: 10px;
        border-right: 0px;
        border-left: 0px;
        box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.3);
        transition: 0.4s;
        margin-top: 20px;
    }
    
    .skills-a span{
        height: 60px;
        width: 70px;
        background-color: #ff6527;
    }
    
    .rocket{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .language{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
    }
    
    .skills-a:hover{
        box-shadow: 0 8px 16px rgb(0,0,0,0.5 );
        background-color: rgb(231, 224, 209);
        transform: scale(1.01);
        transition: transform 0.2s ease-in;
    }
    
    .skills ul li{
        list-style-type: square;
        position: relative;
        right: 0px;
        line-height: 30px;
        color: #213555c8;
    }
    
    /* banner 2 */
    
    
    .banner2{
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 100%;
        background: linear-gradient(to right bottom, #bafafa, #bbf5ff, #c2efff, #cce9ff, #d7e3ff, #d2e4ff, #cde5ff, #c8e6ff, #bbedfb, #b9f2ee, #c5f4dd, #dcf3cc);
        margin-top: 70px;
        box-shadow: 0px 3px 3px #c5f4dd,0px -2px 3px #c5f4dd;
    }
    
    .banner2-Image {
        position: absolute;
        right: 100px;
        top: 100px;
        filter: drop-shadow(3px 3px 3px grey);
        z-index: 1;
        display: none;
    }
    
    .banner-text{
        position: relative;
        top: 2rem;
        left: 2px;
        padding: 20px;
    }
    .about{
        font-family: 'Roboto', sans-serif;
        color: #ff6527;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .about2{
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    
    .about3{
        color: #213555ab;
        font-size: 0.85rem;
    }
    
    .Contents{
        display: flex;
        justify-content: space-around;
        position: relative;
        /* right: 60px; */
        left: 0rem;
        font-size: 0.75rem;
    }
    
    .Contents2{
        display: flex;
        justify-content: space-around;
        position: relative;
        left: -0.25rem;
        bottom: 20px;
        font-size: 0.75rem;
        margin-top: 10px;
    }
    
    .text{
       position: relative;
        bottom: 5px ;
    }

    .content span{
        height: 15px;
        width: 15px;
    }
    
    .icone-tick{
        background-color: rgb(68, 205, 68);
        border-radius: 50%;
        color: white;
        padding: 0;
        font-size: 0.95rem;
        position: relative;
        bottom: 2px;
    }
    
    .unique{
        position: relative;
        right: 3px;
    }
    
    .hire-btn{
        background: #ff6527;
        color: white;
        padding: 15px 25px;
        filter: drop-shadow(5px 5px 3px #FF9671);
        border: 0;
        text-transform: uppercase;
        margin-top: 8px;
    }
    
    .hire-btn:hover{
        background: yellowgreen;
        color: white;
        filter: drop-shadow(5px 5px 3px yellowgreen);
    }
    
    .follow{
        display: flex;
        justify-content: center;
        position: relative;
        left:0px;
        margin-top: 20px;
    }

    .follow1{
        display: inline-block;
        height: 20px;
        width: 20px;
        position: relative;
        left: 80px;
    }
    
    .facebook{
        background-color: #1877f2;
        padding:10px 10px 10px 12px;
        border-radius: 50%;
        filter: drop-shadow(3px 2px 3px #1877f2);
    }
    
    .facebook i{
        font-size: 20px;
        bottom: 4px
    }
    
    .twitter{
        background-color: #1c9ceb;
        padding:10px 10px 10px 10px;
        border-radius: 50%;
        filter: drop-shadow(3px 2px 3px #1c9ceb);
    }
    
    .twitter i{
        font-size: 20px;
    }
    
    .instagram{
        background-image: linear-gradient(to right, #ff7142, #fd6351, #f7565f, #ee4c6c, #e24578);
        padding:10px 10px 10px 12px;
        border-radius: 50%;
        filter: drop-shadow(3px 2px 3px #e24578);
    }
    
    .instagram i{
        font-size: 20px;
    }
    
    
    .tooltips{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
  
    .tooltips-line{
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .progress-con{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
    .progress-con .progress{
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: #f3713e67 linear-gradient(to right,transparent 50%,var(--clr) 0);
        margin-top: 50px;
    }  
}
/* if value is less than 50% */