.abc{
   position: relative;
   left: 550px;
    height: 300px;
    width: 300px;
    background-color: blue;
    animation:color 2s ease-in-out 1s infinite alternate-reverse ;
}

@keyframes color{
    0%{
        background-color: red;
    }
    50%{
        background-color: blueviolet;
        width: 600px;
    }
    100%{
        background-color: aqua;
    }
}

.xyz{
    position: relative;
   left: 550px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-top:4px solid aqua ;
    border-bottom: 4px solid brown;
    animation:rotate 2s ease-in-out 1s infinite alternate-reverse ;
    z-index: -1;
}

@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }

}